example-app/
node_modules/
.github/
.gradle/
.idea/
.vscode/
android/.gradle/
android/build/
android/local.properties
android/captures/
ios/.build/
ios/Pods/
ios/Podfile.lock
DerivedData/
xcuserdata/
*.log
*.tgz
*.iml
.DS_Store
.gitignore
.eslintignore
.eslintrc.json
.prettierignore
.prettierrc
tsconfig.json
rollup.config.mjs
